<div class="box center">
  <div class="normal">
    <a href="/join"><h3><%= post.title %> with <%= post.creator%> at <%= post.location %> at <%=post.datetime%></h3> posted at <%= post.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p  %m/%d/%y ")%></a>
      <%if current_user.email === post.creator%>
        <span class="float_r"><a href="/posts/<%=post.id%>">Edit</a></span>
      <% end %>
  </div>
</div>
