<div class="box center">
  <div class="normal">
    <%if post.creator? && post.joiner?%>
      <h2 class="center">Matched!</h2>
    <% end %>
    <h4><%= post.title %> with <%= post.creator%> at <%= post.location %> at <%=post.datetime.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p  %m/%d/%y ")%>
      <%if post.joiner?%>
        with <%=post.joiner%>
      <% end %>
    </h4>
    <h5>posted at <%= post.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p  %m/%d/%y ")%>
      <%if current_user.email === post.creator%>
        <span class="float_r pad_l"><%= link_to "Edit Meeting", edit_post_path(post.id)%></span>
      <% end %>
      <%if current_user.email != post.creator && !post.joiner?%></span>
        <span class="float_r"><%= link_to "Join Meeting", edit_post_path(post.id)%>
      <% end %>
      <%if current_user.email != post.creator && current_user.email === post.joiner%>
        <span class="float_r"><%= link_to "Leave Meeting", edit_post_path(post.id)%></span>
      <% end %>
    </h5>
  </div>
</div>
